body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #efefef;
}

.sidebar {
  width: 240px;
  background-color: #1e1e1e;
  height: 100vh;
  position: fixed;
  padding: 20px;
  color: #fff;
}

.sidebar img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar h5 {
  margin-top: 10px;
  font-weight: bold;
}

.sidebar .nav-link {
  color: #fff;
  padding: 10px;
  display: block;
  border-radius: 5px;
  text-decoration: none;
}

.sidebar .nav-link:hover {
  background-color: #444;
  color: #fff;
}

.sidebar .nav-link.active {
  background-color: #fff;
  color: #000;
}

.main-content {
  margin-left: 240px;
  padding: 30px;
}
